.cards-container {
  width: 90% !important;
  margin: 0 auto;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr !important;
  grid-template-rows: repeat(4, 87vh) !important;
  gap: 4vw !important;
  padding-bottom: calc(4 * 1.5em) !important;
  margin-bottom: 4vw !important;
}

#card1 {
  --index: 1 !important;
}
#card2 {
  --index: 2 !important;
}
#card3 {
  --index: 3 !important;
}
#card4 {
  --index: 4 !important;
}

.card {
  position: sticky !important;
  top: 10px !important;
  padding-top: calc(var(--index) * 1.5em);
}

#card1 .card-body {
  background-color: #52B2CF;
}
#card2 .card-body {
  background-color: #E5A36F;
}
#card3 .card-body {
  background-color: #9CADCE;
}
#card4 .card-body {
  background-color: #D4AFB9;
}

.card-body {
  /* box-sizing: border-box !important;
  padding: 30px !important;
  border-radius: 50px !important;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3) !important;
  height: 87vh !important;
  display: flex !important;
  justify-content: center  !important;
  align-items: center !important;
  transition: all 0.5s !important; */
}

h2 {
  font-size: 2.5em;
}



.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
